@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Projeto desenvolvido para a pousada Quinta do Ypuã com finalidades academicas - Universidade SENAI</p>
